@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);


#slider-0 I {
  font-size: 48px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #ffffff;
}
#slider-0 H1 {
  text-align: left;
  color: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#slider-0 DIV {
  text-align: right;
}
